body{
  font-family: “Lucida Grande”, sans-serif;
  color: white;
  background: black;

}
h1{
  font-size: 64px;
  text-align: center;
}
h2{
  font-size: 32px;
  text-shadow: 4px 4px 2px black;
}
p{
  font-size: 16px;
  padding-top: 15px;
}

img{
  width: 550px;
  object-fit: contain;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div{
  min-height: 100px;
  padding: 30px;
}

#red{
  background: red;
  text-align: right;
}

#blue{
  background: blue;
  text-align: left;
}

#yellow{
  background: yellow;
  text-align: right;
  color: black;
}

h2#yellow{
  text-shadow: 4px 4px 2px grey;
}

#green{
  background: green;
  text-align: left;
}
footer{
  padding-bottom: 15px;
  text-align: center;
}
